.user-info
  .row
    .col-lg-4
      = image_tag @user.avatar.url(:medium)
    .col-lg-8
      %table.table
        %tr
          %td
            %p 
              %b Name:
          %td
            = @user.name
        %tr
          %td
            %p
              %b E-mail: 
          %td
            = @user.email

        %tr
          %td
            %p
              %b About Me: 
          %td
            = @user.about_me

        
      = link_to 'Edit Profile', edit_user_path
      |
      = link_to 'Change Password', edit_user_password_path
          