= link_to "Home", root_path, :class => 'brand'
= link_to "Posts", posts_path, :class => 'brand'
= link_to "New Post", new_post_path, :class => 'brand'
%ul.nav.user
  - if user_signed_in?
    %li
      = link_to('Logout', destroy_user_session_path, :method => 'delete')
    %li
      = link_to('Account Info', current_user)
  - else
    %li
      = link_to('Login', new_user_session_path)
    %li
      = link_to('Sign up', new_user_registration_path)